* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --yellow: #f1b414;
    --brown: #311b0f;
    --black: #202020;
    --light-brown: #e2bc7d;
    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5%/* 10px */
}

body {
    display: flex;
    height: 100vh;
    background: transparent;
}

.container section .header img {
    margin-top: -5rem;
    margin-bottom: 7rem;
    max-width: 25rem;
}

body,
button,
input,
textarea {
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

button,
.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    color: var(--white);
    transition: filter .2s;
    cursor: pointer;
}

button:hover,
.button:hover {
    filter: brightness(1.2);
}

button>img,
.button>img {
    margin-right: 2rem;
    width: 2rem;
}

input,
button,
.button {
    width: 100%;
    margin-bottom: 1.8rem;
}

button.outlined,
.button.outlined {
    width: 25rem;
    border-radius: 4rem;
    padding: 1rem 4rem;
    background: var(--light-brown);
    color: white;
    border: .2rem solid var(--blue);
    font-size: 2rem;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

main .header img {
    border-radius: 50%;
    margin-top: -200rem;
    max-width: 150rem;
}

footer {
    margin-top: 10rem;
}

footer h5 {
    color: var(--black);
    text-align: center;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}